.login-form-wrap{
    margin: 4rem ;
    padding: 4rem;
    text-align: center;
    /* width: 50%; */
    border: 2px solid;
}
.login-form{
margin: 0 auto;
border: 2px solid;
}
input{
    width: 30%;
    padding: .6rem;
    border: 1px solid #c2c0ca;
    border-radius: 5px;
}
input[type='submit']{
    background-color: #3ca9e2;
    border: none;
    padding: .6rem;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
